

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Ubuntu:ital,wght@1,300&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family:'Arvo', serif; 
	font-size: 18px;
	margin: 0px;
  background-color: rgba(255, 234, 245, 0.6);
}

h1, h2, h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

h3 {
  text-align: center;
  color: rgba(62, 117, 132, 0.8);
}
a { 
  text-decoration: none;
 }

 a:hover { 
     color: white;
     background-color: rgba(201, 155, 197, 0.8);
  }
